<h2>Login Page!</h2>
<div *ngIf="message" class="alert alert-danger">Invalid Credentials</div>
<form [formGroup]="loginForm" (ngSubmit) = "submit()">
<div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">Email</label>
  <input type="text" formControlName="email" class="form-control" id="formGroupExampleInput" placeholder="Enter Email">
  <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
      <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required</div>
      <div *ngIf="f['email'].errors && f['email'].errors['email']">Email is Invalid</div>
  </div>

</div>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label">Password</label>
  <input type="password"  formControlName="password" class="form-control" id="formGroupExampleInput2" placeholder="Enter Password">
  <div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger">
    <div *ngIf="f['password'].errors && f['password'].errors['required']">Password is required</div>
    <div *ngIf="f['password'].errors && f['password'].errors['minlength']">Password Min 5 Letters </div>
</div>

</div>
<div class="mb-3">
  <button type="submit"  class="btn btn-primary">Submit</button>
</div>
<!-- [disabled]="!loginForm.valid" -->
</form>
